@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html *{
    --mint-lightgrey: #727575;
    --mint-black: #2c2d31;
    --mint-green: #41A95E;
    --mint-darkgrey: #4f5258;
    --mint-white: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.loginPage{
    background-image: url(./assets/mintLoginPageBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;  
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.signupPage{
    background-image: url(./assets/signUpBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;  
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-primary{
    background: rgb(65,169,94);
    background: linear-gradient(45deg, rgba(65,169,94,1) 0%, rgba(33,204,80,1) 62%, rgb(220, 221, 221) 100%);
    width: 70%;
    height: 40px;
    min-width: 5rem;
    min-height: 2rem;
    border-style: none;
    border-radius: 5px;
    border-width: 0;
    font-size: 16px;
    color: var(--mint-white);
    text-decoration: none;
    box-shadow: none;
    user-select: none;
    border-color: var(--mint-green);
}


.btn-primary:hover{
    background: rgb(163, 175, 156);
    background: linear-gradient(235deg, rgba(65,169,94,1) 0%, rgba(33,204,80,1) 62%, rgb(220, 221, 221) 100%);
    
}
.input{
    width: 70%;
    min-width: 240px;
}

.formCard{
    min-width: 270; 
    width: 25%;
    margin: auto; 
    padding: 1rem;
}

.appbar{
    background: rgb(65,169,94);
    background: linear-gradient(90deg, rgba(65,169,94,1) 0%, rgba(23,46,17,1) 100%);
}

.dashboard{
    background-image: url('./assets/dashboardbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;  
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.habitlist{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.habit{
    color: #2c2d31;
    width: 100%;
    margin: 5px;
    min-width: 300px;
}